<title>Libros</title>

<h2>Libros</h2>
<div class="row">
	<div class="col-sm-12">
		<button type="button" href="#Agregar" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" ng-click="lib.Nuevo()" class="btn btn-{{lib.nuevo == true ? 'success' : 'danger'}}">{{lib.nuevo == true ? 'Nuevo' : 'Cancelar'}}</button>
		<div class="collapse" id="Agregar">
			</br>
			<form name="form" class="form-horizontal" role="form">
				<div class="well">
						<legend>Datos del Libro</legend> 
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-3" valida>
								<label>Clave del Libro</label>
								<input name="clvLibro" type="text" class="form-control" placeholder="Clave" ng-model="lib.libro.clvLibro"
								 required capitalize>
								</div>
								<div class="col-sm-9" valida>
								<label>Nombre del Libro</label>
								<input name="nombreLibro" type="text" class="form-control" placeholder="Nombre" ng-model="lib.libro.nombre" required
								 capitalize>
                                 </div>                         
						</div>
                        <h6>&nbsp;</h6>
						<div class="col-sm-12">
                                <div class="col-sm-3" valida>
                                <label>Autor</label>
                                <input name="autorLibro" type="text" class="form-control" placeholder="Autor" ng-model="lib.libro.autor" required
                                 capitalize>
                                </div>
                                <div class="col-sm-3" valida>
                                <label>Editorial</label>
                                <input name="editorialLibro" type="text" class="form-control" placeholder="Editorial" ng-model="lib.libro.editorial" required
                                 capitalize>
                                </div>
                                <div class="col-sm-3" valida>
                                <label>Número de Páginas</label>
                                <input name="paginasLibro" type="number" class="form-control" placeholder="Páginas" ng-model="lib.libro.paginas" required
                                 capitalize>
                                </div>
                                <div class="col-sm-3" valida>
                                <label>Año</label>
                                <input name="anoLibro" type="text" class="form-control" placeholder="Año" ng-model="lib.libro.ano" required
                                 capitalize>
								</div> 
								
						</div>
                        <h6>&nbsp;</h6>
                        
						<div class="col-sm-12">
                                <div class="col-sm-3" valida>
                                <label>Lugar</label>
                                <input name="LugarLibro" type="text" class="form-control" placeholder="Lugar" ng-model="lib.libro.lugar" required
                                 capitalize>
                                </div> 
                                <div class="col-sm-3" valida>
                                <label>Cantidad</label>
                                <input name="cantidadLibro" type="number" class="form-control" placeholder="Cantidad" ng-model="lib.libro.cantidad" required
                                 capitalize>
						</div>
						<div class="col-sm-4" valida>
								<label>Categoría</label>
								<select name="categoria" class="form-control select2" ng-model="lib.libro.categoria_id" required>
								<option value disabled selected>Seleccionar Categoria...</option>
								<option ng-repeat="categoria in lib.categorias" value="{{categoria._id}}"> {{categoria.nombreCategoria}}</option>
								</select>
						</div>	
					</div>
                        
                        
						
					</div>
					<br>
					<div class="row">
						<div class="col-sm-12">
							<input type="submit" ng-click="lib.guardar(lib.libro,form)" value="Guardar" class="btn btn-info"" ng-show="lib.action"
							 valida-form formulario="form">
							<input type="submit" ng-click="lib.actualizar(lib.libro,form)" value="Actualizar" class="btn btn-info"" ng-show="!lib.action"
							 valida-form formulario="form">
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<br/>

<!-- List -->
<div class="well">
		<div class="row">
				<div class="col-sm-12">	
					<div class="col-sm-3">
						<label>Filtrar por...</label>
						<select name="OBJETO" class="form-control"  disabled>
							<option value abled selected>Seleccionar</option>
						</select>
					</div>
					<div class="col-sm-9">
							<label>&nbsp;</label>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Buscar..."  disabled>
								<span class="input-group-btn">
									<button class="btn btn-info""  type="button" disabled>Buscar</button>
								</span>
							</div>
					</div>			
				</div>
			</div>
			<br>
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%">
						<div class="text-center">Clave</div>
					</th>
					<th width="25%">
						<div class="text-center">Nombre</div>
					</th>
					<th width="8%">
						<div class="text-center">Autor</div>
					</th>
					<th width="5%">
						<div class="text-center">Editorial</div>
					</th>
					<th width="5%">
						<div class="text-center">Páginas</div>
                    </th>
                    <th width="5%">
                        <div class="text-center">Año</div>
                    </th>
                    <th width="5%">
                        <div class="text-center">Lugar</div>
                    </th>
                    <th width="5%">
                        <div class="text-center">Cantidad</div>
					</th>
					<th width="5%">
							<div class="text-center">Categoría</div>
					</th>
					<th width="10%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
				
				<tr ng-repeat="libro in lib.libros">
					<td>{{libro.clvLibro}}</td>
					<td>{{libro.nombre}}</td>
					<td>{{libro.autor}}</td>
					<td>{{libro.editorial}}</td>
                    <td>{{libro.paginas}}</td>
                    <td>{{libro.ano}}</td>
                    <td>{{libro.lugar}}</td>
					<td>{{libro.cantidad}}</td>
					<td>{{lib.getCategoria(libro.categoria_id)}}</td>
					
					<td class="text-center">
						<button type="button" class="btn btn-xs btn-info" title="Editar" ng-click="lib.editar(libro._id)"><i class="fa fa-pencil"></i></a></li></button>
						<!-- <button type="button" class="btn btn-{{lib.estatus ? 'danger' : 'success' }}" title="{{lib.estatus ? 'Desactivar' : 'Activar' }}" ng-click="lib.cambiarEstatus(libro._id)"><i class="fa fa-{{libro.estatus ? 'times' : 'check' }}"></i></a></button>	     -->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>