<title>Administradores - pudoP</title>

<h2>Administradores</h2>
<div class="row">
	<div class="col-sm-1">
		<a href = "./admins" class = "btn btn-default btn-success">Nuevo</a>
	</div>
</div>
<br/>
	</div>
	<br>
	<div class="row">
		<div class = "col-sm-12">
			<table class = "table table-bordered">
				<thead>
					<tr>
						<th width = "37%">Nombre</th>
						<th width = "26%"> Usuario </th>
						<th width = "7%"> Estatus </th>
						<th width = "12%">Acción</th>
					</tr>	
				</thead>
				<tbody>
					<tr ng-repeat = "administrador in lam.administradores">
						<td>{{administrador.profile.nombreCompleto}}</td>
						<td>{{administrador.username}}</td>
						<td>
							<div class="text-center">
								<span ng-if="administrador.profile.estatus" class="label label-success">
									Activo
								</span>
								<span ng-if="!administrador.profile.estatus" class="label label-danger">
									Inactivo
								</span>
							</div>
						</td>
						<td class="text-center">
							<button type="button" class="btn btn-xs btn-info"" title="Editar" ui-sref="root.editarAdministrador({id: administrador._id, pantallaAnterior: 'Registro'})"><i class="fa fa-pencil"></i></a></li></button>
							<button type="button" class="btn btn-{{administrador.profile.estatus ? 'danger' : 'success' }}" title="{{administrador.profile.estatus ? 'Desactivar' : 'Activar' }}" ng-click="lam.cambiarEstatus(administrador._id)"><i class="fa fa-{{administrador.profile.estatus ? 'times' : 'check' }}"></i></a></button>	    
						</td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>
</div>